li:hover {
    cursor: pointer;
    color: blue;
}

.navbar-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    margin: 0;
}

.navbar-nav {
    display: flex;
    width: 100%;
    margin-right: 0;
}